Repository huggingface/trl, pull requests merged in 2024-10, with the labels that each got.

#2153 minor KTO setting changes + KL batch size
  docs/source/kto_trainer.mdx
  trl/trainer/kto_config.py
  trl/trainer/kto_trainer.py
Labels: KTO

#2178 🏷️ Model badges: select only TRL models
  docs/source/alignprop_trainer.mdx
  docs/source/bco_trainer.mdx
  docs/source/cpo_trainer.mdx
  docs/source/ddpo_trainer.mdx
  docs/source/dpo_trainer.mdx
  docs/source/gkd_trainer.md
  docs/source/iterative_sft_trainer.mdx
  docs/source/kto_trainer.mdx
  docs/source/nash_md_trainer.md
  docs/source/online_dpo_trainer.md
  docs/source/orpo_trainer.md
  docs/source/ppo_trainer.mdx
  docs/source/ppov2_trainer.md
  docs/source/reward_trainer.mdx
  docs/source/rloo_trainer.md
  docs/source/sft_trainer.mdx
  docs/source/xpo_trainer.mdx
Labels: documentation

#2181 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: 📚 documentation

#2186 Update README.md
  README.md
Labels: 📚 documentation

#2200 Fix the bug of DPOTrainer where the coefficient of aux_loss is always 0 during training
  trl/trainer/dpo_trainer.py
Labels: 🐛 bug, 🏋 DPO

#2141 [DPO] Adding weighted preference optimization (WPO)
  docs/source/dpo_trainer.mdx
  tests/test_dpo_trainer.py
  trl/trainer/dpo_config.py
  trl/trainer/dpo_trainer.py
Labels: ✨ enhancement, 🏋 DPO

#2204 [GKD] interpolate in prob. space
  trl/trainer/gkd_trainer.py
Labels: 🐛 bug

#2172 Update incorrect data processing in DataCollatorForChatML
  tests/test_utils.py
  trl/trainer/utils.py
Labels: 🐛 bug, 🏋 GKD

#2182 Update log_example_reports.py
  scripts/log_example_reports.py
Labels: ✨ enhancement

#2180 Update README.md
  README.md
Labels: 📚 documentation

#2251 Adjust padding in batch generation
  tests/test_utils.py
  trl/trainer/utils.py
Labels: 🐛 bug

#2243 [Judges] use the pair-judges in online-preference trainers
  docs/source/nash_md_trainer.md
  docs/source/online_dpo_trainer.md
  docs/source/xpo_trainer.mdx
  examples/scripts/dpo_online.py
  examples/scripts/nash_md.py
  examples/scripts/xpo.py
  tests/test_nash_md_trainer.py
  tests/test_online_dpo_trainer.py
  tests/test_xpo_trainer.py
  trl/trainer/callbacks.py
  trl/trainer/judges.py
  trl/trainer/nash_md_trainer.py
  trl/trainer/online_dpo_config.py
  trl/trainer/online_dpo_trainer.py
  trl/trainer/xpo_trainer.py
Labels: 👨‍⚖️ judge

#2277 Fix the computation of KL divergence loss in Nash MD
  trl/trainer/nash_md_trainer.py
Labels: 🐛 bug
